.button {
  padding: 8px 16px;
  background-color: #101010;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.9rem;
}

.button:hover {
  background-color: #101010cc;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
